# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    # msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=FileSystem /p:PublishUrl=$(build.artifactStagingDirectory)/WebApp'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# 4. Publish build artifacts
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(build.artifactStagingDirectory)/WebApp'
    artifactName: 'WebAppArtifact'

# Debugging steps (optional)
- script: dir $(Pipeline.Workspace)
  displayName: 'List Pipeline Workspace Contents'

- script: dir $(Pipeline.Workspace)/WebAppArtifact
  displayName: 'List WebAppArtifact Contents'
  
# 5. Deploy to Azure App Service
- task: AzureWebApp@1
  displayName: 'Deploy Weather to Azure App Service'
  inputs:
    azureSubscription: 'weaterforecastServiceConn'
    appType: 'webApp'
    appName: 'weatherforecast'
    package: '$(Pipeline.Workspace)/WebAppArtifact'

